<<<<<<< HEAD
  .footer{
    background-color: black;
    font-size: smaller;
 
=======
.footer{
    background-color: black;
    font-size: 14px;
    
>>>>>>> master
  }

  .footer .footer_about{
    color: white;
    margin-left: 100px;
    
  }

  .footer .footer_social{
    color: white;
    margin-left: 200px;
    
  }

  .footer .footer_contact{
    color: white;
    margin-left: 300px;
   
  }

  .container_footer{
    display: flex;
    text-align: center;
<<<<<<< HEAD
    
=======
    height: 300px;
>>>>>>> master
  }

  .footer .footer_bottom{
    color: white;
  }

  .footer_bottom{
    display: flex;

  }
  .footer_link{
    margin-left: 300px;
    display: flex;
    word-spacing: 5px;

  }

  .footer_text{
    margin-left: 100px;
    
  }
  .footer_social i{
    font-size: x-large;
  }
 

  